body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.font-link {
  font-family: 'Poppins', sans-serif;
}


.slick-slide.slick-active.slick-center.slick-current{
  background-color: #101010!important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.2);
  border: 1px solid #3d648f;
}
.slick-slide.slick-active.slick-current{
  background-color: #101010!important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-right: 2px solid #3d648f;
  border-left: 2px solid #3d648f;
}

.slick-dots li button:before{
  color:white !important;
  /* opacity: 0.8 !important; */
}

.slick-dots{
  bottom: -3rem !important;
}

.slick-slide{
  overflow: hidden;
}

@media screen and (max-width : 585px) {
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
}

.slick-next {
 
  right: -15px !important;
}
.slick-prev {
  left: -15px !important;
}